asttokens==2.4.1
beautifulsoup4==4.12.3
bottle==0.12.25
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
decorator==5.1.1
exceptiongroup==1.2.0
executing==2.0.1
google-api-core==2.18.0
google-api-python-client==2.124.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
heare-config==1.0.2
httplib2==0.22.0
idna==3.6
ipython==8.18.1
jedi==0.19.1
matplotlib-inline==0.1.6
oauthlib==3.2.2
parso==0.8.3
pexpect==4.9.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybars3==0.9.7
pybase62==1.0.0
Pygments==2.17.2
PyMeta3==0.5.1
pyparsing==3.1.2
pytz==2024.1
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
soupsieve==2.5
stack-data==0.6.3
traitlets==5.14.2
typing_extensions==4.10.0
uritemplate==4.1.1
urllib3==2.2.0
wcwidth==0.2.13
rich==13.7.0
